/* ## Entries
--------------------------------------------- */

.entry {
	background-color: $color-white;
	padding: 3.0rem;
	margin-bottom: 5%;

	@include breakpoint('sm') {
		margin-bottom: 4.0rem;
		padding: 7.0rem 8.0rem;
	}
}

.entry-content {
	ol,
	ul {
		margin-bottom: 2.8rem;
		margin-left: 4.0rem;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: $color-primary;
		color: #eee;
	}
}
