/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 5% auto;

	@include breakpoint('sm') {
		margin: 4.0rem 0;
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {
	li {
		display: inline;
	}

	a {
		background-color: $color-white;
		color: $color-primary;
		cursor: pointer;
		display: inline-block;
		font-size: 1.6rem;
		font-weight: $font-weight-semi-bold;
		padding: .8rem 1.2rem;
		text-decoration: none;
	}

	li a {
		margin-bottom: .4rem;

		@include breakpoint('sm') {
			margin-bottom: 0;
		}
	}

	a:hover,
	a:focus,
	.active a {
		background-color: $color-secondary;
		color: $color-white;
	}
}
