// Colors
$color-alto: #ddd;
$color-black: #000;
$color-cod-gray: #111;
$color-dove-gray: #666;
$color-dusty-gray: #999;
$color-gallery: #eee;
$color-mandy: #e5554e;
$color-mine-shaft: #333;
$color-silver-chalice: #aaa;
$color-silver: #ccc;
$color-thunderbird: #c3251d;
$color-white: #fff;
$color-whitesmoke: #f5f5f5;