// Fonts
$font-sans:  "Roboto", sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;

// Sets global base em size for the px-to-em and px-to-rem function.
// This should be the same size as your body font-size.
$em-base: 16px;
