/* ## Genesis
--------------------------------------------- */

.breadcrumb {
    background-color: $color-white;
    font-size: 1.6rem;
    margin-bottom: .1rem;
    padding: 1.2rem 3.0rem;
}

.after-entry,
.archive-description,
.author-box {
    background-color: $color-white;
    font-size: 1.8rem;
    padding: 3.0rem;
    margin-bottom: 5%;

    @include breakpoint('sm') {
        margin-bottom: 4.0rem;
        padding: 6.0rem;
    }
}

.archive-description p:last-child,
.author-box p:last-child {
    margin-bottom: 0;
}
