/* ## Responsive Navigation
--------------------------------------------- */

.menu-toggle,
.sub-menu-toggle {
    background-color: $color-white;
    border-width: 0;
    color: $color-primary;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    visibility: visible;

    &:focus,
    &:hover {
        background-color: $color-white;
        border-width: 0;
        color: $color-secondary;
    }

    @include breakpoint('md') {
        display: none;
        visibility: hidden;
    }
}

.menu-toggle {
    line-height: 22px;
    flex-basis: 100px;
    padding: 14px 28px 14px 14px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000;

    .header-nav & {
        font-size: 1.4rem;
        margin-right: 0;
    }

    .header-nav.menu-overlay & {
        position: absolute;
        right: 10px;
        width: auto;

        &.activated {
            position: fixed;
        }
    }

    &::before {
        font-size: 1.5em;
        margin-right: 10px;
        text-rendering: auto;

        .header-nav & {
            font-size: 2.4rem;
            margin-right: 5px;
            position: absolute;
            right: 0;
            top: calc(50% - 1.2rem);
        }
    }
}

.sub-menu-toggle {
    float: right;
    padding: 13px 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    .sub-menu & {
        padding: 12px 10px;
    }

    &::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: transform .25s ease-in-out;
        -ms-transition: transform .25s ease-in-out;
        transition: transform .25s ease-in-out;
    }

    &.activated::before {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.genesis-responsive-menu {

    display: none;
    position: relative;

    &.activated {
        display: block;
    }

    .header-nav.menu-overlay & {
        display: block;
        height: 100%;
        left: -999px;
        padding: 80px 10px 60px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        -webkit-transition: left .3s ease;
        transition: left .3s ease;

        &.activated {
            left: 0;
        }

        @include breakpoint('md') {
            height: auto;
            padding: 0;
            position: static;
        }
    }

    @include breakpoint('md') {
        display: block;
    }

    .wrap {
        padding: 0;
    }

    nav.pagination {
        display: block;
    }

    .genesis-nav-menu {
        .menu-item {
            display: block;
            float: none;
            position: relative;
            text-align: left;

            @include breakpoint('md') {
                margin: 0;
                display: inline-block;
            }

            a {
                border: none;
                margin-bottom: 1px;
                padding: 15px 20px;
                width: 100%;

                @include breakpoint('md') {
                    margin-bottom: 0;
                    padding: 32px 20px;
                }
            }

            &:hover {
                position: relative;
            }

            > a:focus ul.sub-menu,
            > a:focus ul.sub-menu .sub-menu {
                left: 0;
                margin-left: 0;
            }

            .sub-menu {
                border: none;
                clear: both;
                display: none;
                margin: 0;
                opacity: 1;
                padding-left: 15px;
                position: static;
                width: 100%;

                @include breakpoint('md') {
                    border-top: 1px solid #eee;
                    padding-left: 0;
                    position: absolute;
                    width: 200px;

                    a {
                        border: 1px solid #eee;
                        border-top: none;
                        padding: 20px;
                        width: 200px;
                    }
                }

                .sub-menu {
                    margin: 0;

                    @include breakpoint('md') {
                        margin: -56px 0 0 199px;
                        padding-left: 0;
                    }
                }
            }
        }

        > .menu-item-has-children > a::after {
            content: none;
        }

    }

    nav button:hover,
    .menu-toggle:hover,
    .nav-primary {
        background-color: $color-white;
        color: $color-black;
    }

    nav button:focus,
    .menu-toggle:focus {
        background-color: $color-white;
        color: $color-secondary;
    }
}
