/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 4.0rem;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: .1rem solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: .1rem solid #eee;
	padding: .6rem;
}

th {
	font-weight: $font-weight-normal;
	padding: 0 .6rem;
}

td:first-child,
th:first-child {
	padding-left: 0;
}
