
/* ## Navigation Menu
--------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 1.6rem;
	font-weight: $font-weight-semi-bold;
	line-height: 1;

	.menu-item {
		display: inline-block;
		margin-bottom: 0;
		padding-bottom: 0;
		text-align: left;
	}

	a {
		color: $color-primary;
		text-decoration: none;
		display: block;
		padding: 3.2rem 2.0rem;
	}

	a:hover,
	a:focus,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus  {
		color: $color-secondary;
		text-decoration: underline;
	}

	.sub-menu {
		border-top: .1rem solid #eee;
		left: -999.9rem;
		opacity: 0;
		position: absolute;
		-webkit-transition: opacity .4s ease-in-out;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 20.0rem;
		z-index: 99;

		a {
			background-color: $color-white;
			border: .1rem solid #eee;
			border-top: 0;
			font-size: 1.4rem;
			padding: 2.0rem;
			position: relative;
			width: 20.0rem;
			word-wrap: break-word;
		}

		.sub-menu {
			margin: -5.6rem 0 0 19.9rem;
			padding-left: 0;
		}
	}

	.menu-item:hover {
		position: static;

		> .sub-menu {
			left: auto;
			opacity: 1;
		}
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		float: right;
	}
}
