/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: $color-white;
	font-size: 1.8rem;
	clear: both;
	padding: 6.0rem 0;
}

.footer-widgets-1,
.footer-widgets-2 {
	margin: 0 auto 4.0rem;
}
