/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $color-white;
	border-top: .1rem solid #eee;
	font-size: 1.6rem;
	line-height: 1;
	padding: 6.0rem 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}


