/* ## Genesis
--------------------------------------------- */

.breadcrumb {
    background-color: $color-white;
    font-size: 1.6rem;
    margin-bottom: 1px;
    padding: 12px 30px;
}

.after-entry,
.archive-description,
.author-box {
    background-color: $color-white;
    font-size: 1.8rem;
    padding: 30px;
    margin-bottom: 5%;

    @include breakpoint('sm') {
        margin-bottom: 40px;
        padding: 60px;
    }
}

.archive-description p:last-child,
.author-box p:last-child {
    margin-bottom: 0;
}
