/* ## Titles
--------------------------------------------- */

.archive-description .entry-title,
.archive-title,
.author-box-title {
	font-size: 2rem;
}

.entry-title {
	font-size: 3.6rem;

	a:hover,
	a:focus {
		color: $color-secondary;
	}
}

.entry-title a,
.sidebar .widget-title a {
	color: $color-primary;
	text-decoration: none;
}

.widget-title {
	font-size: 1.8rem;
	margin-bottom: 2.0rem;
}
