@media only screen and (min-width: 1023px) {

	.site-header > .wrap {
		padding: 20px 0;
	}

	.site-header .title-area {
		float: left;
		width: 300px;
	}

	.site-description,
	.site-title {
		text-align: left;
	}

	.site-header .widget-area {
		text-align: right;
	}

	.site-header .search-form {
		float: right;
		margin: 12px auto 0;
	}

	.sub-menu-toggle,
	.menu-toggle {
		display: none;
		visibility: hidden;
	}

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap {
		float: left;
	}

	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		float: right;
	}

	.content,
	.site-header .widget-area {
		float: right;
		width: 620px;
	}

	.content-sidebar .content,
	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content {
		float: left;
	}

	.content-sidebar-sidebar .content,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content {
		width: 400px;
	}

	.full-width-content .content {
		width: 100%;
	}

	.sidebar-primary {
		float: right;
		width: 300px;
	}

	.sidebar-content .sidebar-primary,
	.sidebar-sidebar-content .sidebar-primary {
		float: left;
	}

	.sidebar-secondary {
		float: left;
		width: 180px;
	}

	.content-sidebar-sidebar .sidebar-secondary {
		float: right;
	}

}