/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: $color-white;

	&.header-nav > .wrap {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	> .wrap {
		padding: 20px 5%;

		@include breakpoint('md') {
			padding: 20px 0;
		}
	}
}
