/* ## Title Area
--------------------------------------------- */

.title-area {
	padding: 10px 0;

	.header-nav & {
		margin-right: auto;
	}

	@media only screen and (min-width: 1023px) {
		.site-header & {
			float: left;
			width: 300px;
		}
	}
}

.header-image .title-area {
	margin: 0 auto;
	max-width: 300px;
	padding: 0;
}

.header-full-width .title-area {
	float: none;
	width: 100%;
}

.site-title {
	font-size: 3rem;
	font-weight: $font-weight-bold;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: $color-primary;
	text-decoration: none;
}

.header-image .site-title > a {
	background-position: center !important;
	background-size: contain !important;
	float: left;
	min-height: 80px;
	width: 100%;
}

.site-description {
	font-size: 1.6rem;
	font-weight: $font-weight-normal;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
	text-align: center;

	@media only screen and (min-width: 1023px) {
		text-align: left;
	}
}

.site-header .widget-area {
	margin-bottom: 0;
	text-align: center;

	@media only screen and (min-width: 1023px) {
		text-align: right;
	}
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}