/* ## Column Widths and Positions
--------------------------------------------- */

.content-sidebar-wrap {
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
        @include breakpoint('md') {
            width: 740px;
        }

        @include breakpoint('lg') {
            width: 920px;
        }

        @include breakpoint('xl') {
            width: 1060px;
        }
    }

    .content-sidebar-sidebar & {
        @include breakpoint('md') {
            float: left;
        }
    }

    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
        @include breakpoint('md') {
            float: right;
        }
    }
}


.content,
.site-header .widget-area {
    @include breakpoint('md') {
        float: right;
        width: 620px;
    }

    @include breakpoint('lg') {
        width: 800px;
    }
}

.content {

    @include breakpoint('xl') {
        width: 880px;
    }

    .content-sidebar &,
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar & {
        @include breakpoint('md') {
            float: left;
        }
    }

    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
        @include breakpoint('md') {
            width: 400px;
        }

        @include breakpoint('lg') {
            width: 580px;
        }

        @include breakpoint('xl') {
            width: 660px;
        }
    }

    .full-width-content & {
        @include breakpoint('md') {
            width: 100%;
        }
    }
}

.sidebar-primary {
    @include breakpoint('md') {
        float: right;
        width: 300px;
    }

    @include breakpoint('xl') {
        width: 360px;
    }

    .sidebar-content &,
    .sidebar-sidebar-content & {
        @include breakpoint('md') {
            float: left;
        }
    }
}

.sidebar-secondary {
    @include breakpoint('md') {
        float: left;
        width: 180px;
    }

    .content-sidebar-sidebar & {
        @include breakpoint('md') {
            float: right;
        }
    }
}
