/* ## Column Widths and Positions
--------------------------------------------- */

.content-sidebar-wrap {
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
        @media only screen and (min-width: 1023px) {
            width: 740px;
        }

        @media only screen and (min-width: 1200px) {
            width: 920px;
        }

        @media only screen and (min-width: 1340px) {
            width: 1060px;
        }
    }

    .content-sidebar-sidebar & {
        @media only screen and (min-width: 1023px) {
            float: left;
        }
    }

    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
        @media only screen and (min-width: 1023px) {
            float: right;
        }
    }
}


.content,
.site-header .widget-area {
    @media only screen and (min-width: 1023px) {
        float: right;
        width: 620px;
    }

    @media only screen and (min-width: 1200px) {
        width: 800px;
    }
}

.content {

    @media only screen and (min-width: 1340px) {
        width: 880px;
    }

    .content-sidebar &,
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar & {
        @media only screen and (min-width: 1023px) {
            float: left;
        }
    }

    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
        @media only screen and (min-width: 1023px) {
            width: 400px;
        }

        @media only screen and (min-width: 1200px) {
            width: 580px;
        }

        @media only screen and (min-width: 1340px) {
            width: 660px;
        }
    }

    .full-width-content & {
        @media only screen and (min-width: 1023px) {
            width: 100%;
        }
    }
}

.sidebar-primary {
    @media only screen and (min-width: 1023px) {
        float: right;
        width: 300px;
    }

    @media only screen and (min-width: 1340px) {
        width: 360px;
    }

    .sidebar-content &,
    .sidebar-sidebar-content & {
        @media only screen and (min-width: 1023px) {
            float: left;
        }
    }
}

.sidebar-secondary {
    @media only screen and (min-width: 1023px) {
        float: left;
        width: 180px;
    }

    .content-sidebar-sidebar & {
        @media only screen and (min-width: 1023px) {
            float: right;
        }
    }
}
