/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
    margin: 0 auto;

    @include breakpoint('sm') {
        max-width: 800px;
    }

    @include breakpoint('md') {
        max-width: 960px;
    }

    @include breakpoint('lg') {
        max-width: 1140px;
    }

    @include breakpoint('xl') {
        max-width: 1280px;
    }
}

.site-inner {
    clear: both;
    padding: 5% 5% 0;
    word-wrap: break-word;

    @include breakpoint('sm') {
        padding: 40px 0 0;
    }

    .landing-page & {
        @include breakpoint('sm') {
            max-width: 800px;
        }
    }
}

.wrap {
    padding-left: 5%;
    padding-right: 5%;

    @include breakpoint('sm') {
        padding: 0;
    }
}