/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 5% auto;

	@media only screen and (min-width: 860px) {
		margin: 40px 0;
	}
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: $color-white;
	color: $color-primary;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: $font-weight-semi-bold;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination li a {
	margin-bottom: 4px;

	@media only screen and (min-width: 860px) {
		margin-bottom: 0;
	}
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a {
	background-color: $color-secondary;
	color: $color-white;
}
