/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 1.6rem;
	margin-bottom: 5%;

	@include breakpoint('sm') {
		margin-bottom: 40px;
	}
}

.sidebar .widget {
	background-color: $color-white;
	padding: 30px;

	@include breakpoint('sm') {
		padding: 40px;
	}
}